[submodule "Basic-Tours-List-App"]
	path = Basic-Tours-List-App
	url = https://github.com/Bsouro911/Basic-Tours-List-App.git
[submodule "Food-Menu"]
	path = Food-Menu
	url = https://github.com/Bsouro911/Food-Menu.git
[submodule "Random-Excerpts-Generator"]
	path = Random-Excerpts-Generator
	url = https://github.com/Bsouro911/Random-Excerpts-Generator.git
[submodule "Simple-Birthday-List"]
	path = Simple-Birthday-List
	url = https://github.com/Bsouro911/Simple-Birthday-List.git
[submodule "Slider"]
	path = Slider
	url = https://github.com/Bsouro911/Slider.git
[submodule "Switch-Tabs"]
	path = Switch-Tabs
	url = https://github.com/Bsouro911/Switch-Tabs.git
[submodule "Toggle-QnA"]
	path = Toggle-QnA
	url = https://github.com/Bsouro911/Toggle-QnA.git
[submodule "simple-color-palette-generator"]
	path = simple-color-palette-generator
	url = https://github.com/Bsouro911/React-And-Projects.git
